@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
.attribution {
  margin-bottom: 2rem;
  text-align: center; }

.component {
  margin: 5rem 0;
  padding: 4rem 3rem;
  width: 40rem;
  height: 40rem;
  border-radius: 3rem;
  background-image: linear-gradient(#1f2630, #171e28);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 300ms; }
  @media only screen and (max-width: 27.5em) {
    .component {
      width: 40rem;
      height: 45rem; } }
  .component__img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    background-color: #262f38; }
  .component__title {
    font-size: 3rem;
    font-weight: 700; }
    @media only screen and (max-width: 27.5em) {
      .component__title {
        font-size: 3.2rem; } }
  .component__paragraph {
    line-height: 2.3rem;
    color: #959eac; }
  .component__rating {
    display: flex;
    justify-content: space-between; }
  .component__rating__number {
    padding: 1.7rem 0;
    text-align: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    color: #959eac;
    background-color: #262f38;
    cursor: default; }
    .component__rating__number:hover {
      color: white;
      background-color: #7c8798; }
    .component__rating__number:active {
      font-weight: 700;
      background-color: #fb7413; }
  .component__btn {
    padding: 1rem 0;
    font-family: "Overpass", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border: none;
    outline: none;
    border-radius: 20rem;
    color: white;
    background-color: #fb7413;
    cursor: default; }
    @media only screen and (max-width: 27.5em) {
      .component__btn {
        font-size: 1.8rem;
        padding: 1.5rem 0; } }
    .component__btn:active {
      color: #fb7413;
      background-color: white; }

.thank-you {
  margin: 5rem 0;
  padding: 4rem 3rem;
  width: 40rem;
  height: 40rem;
  border-radius: 3rem;
  background-image: linear-gradient(#1f2630, #171e28);
  transition: all 300ms;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (max-width: 27.5em) {
    .thank-you {
      width: 40rem;
      height: 45rem; } }
  .thank-you__ratings-text {
    padding: 1rem 2rem;
    border-radius: 2rem;
    color: #fb7413;
    background-color: #262f38; }
  .thank-you__text {
    font-size: 3rem;
    font-weight: 700; }
    @media only screen and (max-width: 27.5em) {
      .thank-you__text {
        font-size: 3.2rem; } }
  .thank-you__paragraph {
    text-align: center;
    text-justify: auto;
    line-height: 2.3rem;
    color: #959eac; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  background-color: #141519; }
  @media only screen and (max-width: 27.5em) {
    body {
      font-size: 1.7rem; } }

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100%; }

.hide {
  visibility: hidden;
  display: none; }

.show {
  visibility: visible; }
